<div class="container">
    <div class="text-center">
        <p class="p-pos">Előfizetés </p>
    </div>
    <div id="kurzusaim" *ngIf="loggedUser && active">
        <div class="container" *ngFor="let coursee of courseDetails">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div>
                            <div class="card-div mx-auto">
                                <p class="card-title p-2">Aktív előfizetéseim</p>
                                <div class="card-body" *ngFor="let courseexpires of courseDetailsExpires">
                                    <p class="card-text-name">{{courseexpires.title}}</p>
                                    <p class="card-text pt-1">Hozzáférés vége: {{courseexpires.end_date}}</p>
                                    <div *ngIf="!courseexpires.videostore" class="text-end">
                                        <button class="btn bcolor mt-3"
                                            [routerLink]="'/kurzusok/' + coursee.title">Foglalkozások
                                            <br>megnyitása</button>
                                    </div>
                                    <div *ngIf="courseexpires.videostore" class="text-end">
                                        <button class="btn bcolor mt-3"
                                            [routerLink]="'/user/videotar_elofizetett'">Videótéka
                                            <br>megnyitása</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="kurzusaim-inactive" *ngIf="loggedUser && !active">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div>
                            <div class="card-div mx-auto">
                                <p class="card-title p-2">Aktív előfizetéseim</p>
                                <div class="card-body">
                                    <p class="card-text-name">Jelenleg nincs előfizetésed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="erdekel" *ngIf="loggedUser">
        <div class="container">
            <div class="row" *ngIf="courseNonEnrollmentsDetailsExpires.length > 0">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="card-div mx-auto">
                                <p class="card-title p-2">Ez is érdekelhet</p>
                                <div *ngFor="let courseNonExpires of courseNonEnrollmentsDetailsExpires">
                                    <ng-container *ngIf="!isCourseActive(courseNonExpires.sku)">
                                        <div class="card-body">
                                            <p class="card-text-name">{{ courseNonExpires.title }}</p>
                                            <p class="card-text" [innerHTML]="courseNonExpires.desc"></p>
                                            <p *ngIf="courseNonExpires.price" class="card-text">Lista ár: {{
                                                courseNonExpires.list_price }}</p>
                                            <p class="card-text">Ár: {{ courseNonExpires.price }}</p>
                                            <p class="card-text">Előfizetés hossza: {{courseNonExpires.month}}
                                            </p>
                                            <div class="text-end">
                                                <button class="btn bcolor mt-3"
                                                    (click)="addCart(courseNonExpires.type, courseNonExpires.type_id)">Előfizetek</button>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--videótéka termékek-->

        <div class="container">
            <div class="row" *ngIf="vidCourseNonEnrollmentsDetailsExpires.length > 0">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="card-div mx-auto">
                                <div class="card-body"
                                    *ngFor="let courseNonExpires of vidCourseNonEnrollmentsDetailsExpires">
                                    <p class="card-text-name">{{ courseNonExpires.title }}</p>
                                    <p class="card-text" [innerHTML]="courseNonExpires.desc"></p>
                                    <p *ngIf="courseNonExpires.price" class="card-text">Lista ár: {{
                                        courseNonExpires.list_price }}</p>
                                    <p class="card-text">Ár: {{ courseNonExpires.price }}</p>
                                    <p class="card-text">Előfizetés hossza: {{courseNonExpires.month}}
                                    </p>
                                    <div class="text-end">
                                        <button class="btn bcolor mt-3"
                                            (click)="addCart(courseNonExpires.type, courseNonExpires.type_id)">Előfizetek</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loggedUser">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div>
                            <div class="card-div mx-auto">
                                <div class="card-body" *ngFor="let product of products">
                                    <p class="card-text-name">{{ product.title }}</p>
                                    <div [innerHTML]="product.desc"></div>
                                    <p *ngIf="product.list_price" class="card-text">Lista ár: {{product.list_price}}</p>
                                    <p class="card-text">Ár: {{product.price}}</p>
                                    <p class="card-text">Előfizetés hossza: {{product.month}}
                                    <div class="text-end">
                                        <button routerLink="/fizetes" class="btn bcolor mt-3"
                                            (click)="addCart(product.type, product.type_id)">Előfizetek</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>