<div class="container">
    <div class="text-center">
        <p class="p-pos">Elérhető kurzusaink:</p>
    </div>
    <div id="kurzusaim" *ngIf="loggedUser">
        <h3>Kurzusaim</h3>
        <div class="container" *ngFor="let coursee of courseDetails">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-10">
                                <div class="card-body" *ngFor="let courseexpires of courseDetailsExpires">
                                    <p class="card-text">{{coursee.title}}</p>
                                    <p class="card-text">Program elérhetősége: {{courseexpires.end_date}}</p>
                                </div>
                                <button class="btn bcolor mt-3" [routerLink]="'/kurzusok/' + coursee.title">Irány a
                                    kurzus</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="erdekel" *ngIf="loggedUser">
        <h3 class="mt-5">Ez is érdekelhet</h3>
        <div class="container" *ngFor="let courseNon of courseNonEnrollmentDetails">
          <div class="row" *ngIf="courseNonEnrollmentsDetailsExpires.length > 0">
            <div class="col-md-12">
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-10">
                    <div class="card-body">
                      <div *ngFor="let courseNonExpires of courseNonEnrollmentsDetailsExpires">
                        <p class="card-text">{{ courseNon.title }}</p>
                        <p class="card-text" [innerHTML]="courseNonExpires.describe"></p>
                        <p class="card-text">Ár: {{ courseNonExpires.price }}</p>
                        <p class="card-text">Kedvezméynes ár: {{ courseNonExpires.discount_price }}</p>
                      </div>
                      <button class="btn bcolor mt-3">Előfizetés</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <div *ngIf="!loggedUser">
        <div class="container">
            <div class="row">
                <div class="col-md-12" *ngFor="let c of course">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-10">
                                <div class="card-body">
                                    <p class="card-text">{{ c.title }}</p>
                                </div>
                                <button class="btn bcolor mt-3">Előfizetés</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>