.bcolor{
    background-color: #E6009F;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card{
    border-radius: 5px;
    border: 2px solid #0A606F;
}

.p-pos{
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0A606F;
}

.card-body{
    margin-bottom: 50px;
}
