.bcolor {
    background-color: #E6009F;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.card {
    border: none;

}

.p-pos {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #E6009F;
}

.card-body {
    margin-bottom: 50px;
    padding: 5px;
}

.card-title {
    color: white;
    background-color: #0A606F;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;

}

.card-body:not(:last-child) {
    border-bottom: 1.5px solid #00F8F2;
    padding-bottom: 45px;
}

.card-text-name {
    color: #0A606F;
    font-size: 18px;
}

.line {
    border-bottom: 1.5px solid #00F8F2;
    margin: 35px auto;
    width: 740px;
}

.card-div {
    width: 80%;
}