<div class="wrapper">
    <div class="arrow-steps clearfix">
        <div class="step"> <span>Adatok</span> </div>
        <div class="step current"> <span>Összegzés</span> </div>
        <div class="step"> <span> Véglegesítés</span> </div>
    </div>
</div>
<div *ngFor="let profile of profileCustomer">
    <p class="cart-content">Kosár tartalma</p>
    <div class="mb-2" *ngFor="let product of toPayProduct">
        <span class="course-name">{{product.title}}</span>
        <span class="course-price">{{product.price}}</span>
    </div>
    <div *ngFor="let price of cuoponPrice" class="flex-container mb-2">
        <span>Kedvezményes kupon</span>
        <span style="margin-left: 140px;">{{price.cuopon_name}}</span>
        <span style="margin-left: 225px;">{{price.cuopon_price}}</span>
    </div>
    <div *ngFor="let price of cuoponPrice" class="flex-container mb-2">
        <span style="margin-right: 470px;">Fizetendő</span>
        <span>{{price.current}}</span>
    </div>
    <div class="line p-3"></div>
    <p class="cart-content">Számlázási adatok</p>
    <div class="flex-container mb-3">
        <span style="margin-right: 60px;">Név</span>
        <input [(ngModel)]="profile.name" type="text" style="width: 575px;">
    </div>
    <div class="flex-container mb-3">
        <span style="margin-right: 59px;">Cím</span>
        <input [(ngModel)]="profile.country" type="text">
        <input style="width: 375px; margin-left: 10px;" type="text">
    </div>
    <div class="flex-container mb-3">
        <span style="margin-right: 60px;"></span>
        <input [(ngModel)]="profile.postal_code" style="margin-left: 27px; width: 10%; margin-right: 10px;" type="text">
        <input [(ngModel)]="profile.city" style="width: 17%;margin-right: 10px;" type="text">
        <input [(ngModel)]="profile.address" style="width: 295px;" type="text">
    </div>
    <div class="flex-container mb-3">
        <span style="margin-right: 43px;">E-mail</span>
        <input [(ngModel)]="profile.email" style="width: 575px" type="text">
    </div>
    <div class="line p-3"></div>
    <div class="container">
        <p class="cart-content">Fizetési mód</p>
        <div class="flex-container m-2">
            <div id="simplepay" class="pink-circle" [ngClass]="{ 'pink-fill': isPinkFill1 }" (click)="toggleColors(1)" (click)="onSimplePayClick()"></div>
            <img src="assets/simplepay.png">
        </div>
        <div class="flex-container m-2">
            <div id="paypal" class="pink-circle" [ngClass]="{ 'pink-fill': isPinkFill2 }" (click)="toggleColors(2)" (click)="onPayPalClick()"></div>
            <img src="assets/paypal.png">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button (click)="Pay()" class="btn btn-primary m-3">Fizetés</button>
    </div>
</div>