.navbar {
    background: white !important;
}

.nav-link {
    color: #0A606F !important;

}

.nav-link:hover {
    color: white !important;
}

.navbar-toggler {
    outline: none;
    box-shadow: none;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
}

a {
    text-decoration: none;
    color: #0A606F;
    padding: 8.5px;
    margin-right: 26px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}


/* Dropdown */

.dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.dd-button {
    padding: 8.5px;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}

.dd-menu li {
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.menu-logo {
    width: 80px;
}

.navlink:hover {
    color: white;
    background-color: #0A606F;
  
    border-radius: 10px;
  }
  
  .active-login{
    color: white;
    background-color: #E6009F;
    cursor: pointer;
  }
  
  .active-login:hover{
    color: white;
    background-color: #E6009F;
    cursor: pointer;
  }
  
  
  .active {
    color: white;
    background-color: #0A606F;
  }