.p_text {
    color: #F54D9F;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.btn {
    border: solid 3px #0A606F;
    color: #0A606F;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn:hover {
    background-color: #F54D9F;
    color: white;
    border: solid 3px #F54D9F;
}

.active-button {
    background-color: #F54D9F;
    color: white;
    border: solid 3px #F54D9F;
}

ul {
    list-style-type: none;
    padding: 0;
}

li:hover {
    color: #F54D9F;
    cursor: pointer;
}

ul li:hover::before {
    color: #F54D9F;
}

.icon {
    font-size: 10px;
    margin-right: 10px;
}

.active-icon {
    color: #F54D9F;
}


.active-cat {
    color: #F54D9F;
}

.cat-image {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

li:hover .cat-image, .active-cat .cat-image {
    display: block;
    opacity: 1;
    color: black;
}

li:hover .cat-image span {
    display: block;
    opacity: 1;
    color: black;
}

.img {
    width: 100%;
    height: auto;
}

.lesson-container {
    display: flex;
    align-items: flex-start;
    position: relative; /* Hozzáadott pozíció: relatív tulajdonság */
}

.video-container {
    flex: 1;
    /* A videó terjedjen ki a rendelkezésre álló helyre */
    margin-right: 20px;
    /* Távolság a lecke címétől és leírásától */
}

.lesson-info {
    flex: 2;
    /* A lecke címe és leírása terjedjen ki a rendelkezésre álló helyre */
}

/* A cím és a leírás kisebb betűmérete */
.lesson-info h3 {
    font-weight: bold;
    font-size: 16px;
    /* Például 16px méretű betűk */
}

.lesson-info div {
    margin-top: 10px;
    font-size: 14px;
    line-height: normal;
    /* Például 14px méretű betűk a leírásnál */
}

.lesson {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;

}

.lesson h3 {
    font-size: 18px;
}

.like-button {
    position: relative;
    top: 140px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #F54D9F;
}

.truncated-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial; 
    max-height: 119px; /* A videó magasságához igazítsd */
  }
  


