<div class="container">
  <p class="p_text">Videótéka</p>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary m-4" [ngClass]="{'active-button' : isButtonActive === 'napi'}"
      (click)="toggleButtonState('napi')">Napi ajánlat</button>
    <button type="button" class="btn btn-primary m-4" [ngClass]="{'active-button' : isButtonActive === 'kedvenc'}"
      (click)="toggleButtonState('kedvenc')">Kedvenc videóim</button>
  </div>
  <div>
    <ul>
      <p class="text-left">Válaszd ki, hol tartasz éppen:</p>
      <li *ngFor="let cat of objCat; let i = index" [ngClass]="{'active-cat': isCategoryActive(cat)}"
        (click)="toggleCategory(cat, i)">
        <span [class.active-icon]="i === activeCategoryIndex"><fa-icon class="icon" [icon]="faCirc"></fa-icon></span> {{
        cat.catTitle }}
        <div class="cat-image">
          <img class="img" [src]="cat.photo_url" alt="{{ cat.catTitle }}">
          <span [innerHTML]="cat.catDesc"></span>
        </div>
      </li>
    </ul>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary m-4" (click)="loadRecommendedVideos()">Kérem az ajánlott videókat</button>
  </div>
  <div class="lessons">
    <div class="lesson" *ngFor="let vid of objVid; let k = index">
      <div class="lesson-container">
        <div class="video-container">
          <div *ngIf="vid.video_url && !vid.y_video_url">
            <app-video-player style="padding-top: 15px;"
              [options]="{fluid: true, aspectRatio: '16:9', autoplay: false, poster: vid.thumbnail, sources: [{ src: vid.video_url, type: 'video/mp4', label: 'Basic' }, { src: vid.video_url_1080, type: 'video/mp4', label: '1080p' },{ src: vid.video_url_720, type: 'video/mp4', label: '720p' }, { src: vid.video_url_360, type: 'video/mp4', label: '360p' }]}">
            </app-video-player>
          </div>
          <div *ngIf="vid.y_video_url && !vid.video_url" class="youtube-video">
            <iframe [src]="vid.y_video_url" frameborder="0"
              class="iframe-size"></iframe>
          </div>
        </div>
        <div class="lesson-info">
          <h3>{{ vid.vidTitle }}</h3>
          <div [innerHTML]="vid.vidDesc"></div>
        </div>
        <button type="button" class="like-button" (click)="toggleLike()">
          <fa-icon [icon]="isLiked ? faSolidHeart : faRegularHeart"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>