<div class="container">
  <p class="p_text">Videótéka</p>
  <div class="d-flex justify-content-between">
    <button [routerLink]="'/user/napi-ajanlat'" type="button" class="btn btn-primary m-4" [ngClass]="{'active-button' : isButtonActive === 'napi'}"
      (click)="toggleButtonState('napi')">Napi ajánlat</button>
    <button [routerLink]="'/user/kedvenc-videok'" type="button" class="btn btn-primary m-4" [ngClass]="{'active-button' : isButtonActive === 'kedvenc'}"
      (click)="toggleButtonState('kedvenc')">Kedvenc videóim</button>
  </div>
  <div>
    <!--
    <p class="text-left">Válaszd ki, hol tartasz éppen:</p>
    <ul *ngFor="let cat of objCat; let i = index" [ngClass]="{'active-cat': isCategoryActive(cat)}" (click)="toggleCategory(cat, i)">
      <li (mouseover)="showCatImage(i)" (mouseout)="hideCatImage()">
        <span [class.active-icon]="i === activeCategoryIndex"><fa-icon class="icon" [icon]="faCirc"></fa-icon></span> {{ cat.catTitle }}
      </li>
    </ul>
    <div *ngIf="activeCategoryIndex >= 0" id="catImageContainer">
      <img class="img" [src]="objCat[activeCategoryIndex].photo_url" alt="{{ objCat[activeCategoryIndex].catTitle }}">
      <span [innerHTML]="objCat[activeCategoryIndex].catDesc"></span>
    </div>
  -->
    <ul *ngFor="let cat of objCat; let i = index"  [ngClass]="{'active-cat': isCategoryActive(cat)}" (click)="handleCategoryClick($event)">
      <li (click)="toggleCategory(cat, i);">
        <span [class.active-icon]="i === activeCategoryIndex"><fa-icon class="icon" [icon]="faCirc"></fa-icon></span> {{
        cat.catTitle }}
        <div class="cat-image">
          <img class="img" [src]="cat.photo_url" alt="{{ cat.catTitle }}">
          <span [innerHTML]="cat.catDesc"></span>
        </div>
      </li>
    </ul>    

  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary m-4" (click)="loadRecommendedVideos()">Kérem az ajánlott
      videókat</button>
  </div>
  <div class="lessons">
    <div class="lesson" *ngFor="let vid of objVid; let k = index">
      <div class="lesson-container">
        <div class="video-container">
          <div *ngIf="vid.video_url && !vid.y_video_url">
            <app-video-player style="padding-top: 15px;"
              [options]="{fluid: true, aspectRatio: '16:9', autoplay: false, poster: vid.thumbnail, sources: [{ src: vid.video_url, type: 'video/mp4', label: 'Basic' }, { src: vid.video_url_1080, type: 'video/mp4', label: '1080p' },{ src: vid.video_url_720, type: 'video/mp4', label: '720p' }, { src: vid.video_url_360, type: 'video/mp4', label: '360p' }]}">
            </app-video-player>
          </div>
          <div *ngIf="vid.y_video_url && !vid.video_url" class="youtube-video">
            <iframe [src]="vid.y_video_url" frameborder="0" class="iframe-size"></iframe>
          </div>
        </div>
        <div class="lesson-info">
          <h3>{{ vid.vidTitle }}</h3>
          <div [innerHTML]="vid.vidDesc" [class.truncated-text]="vid.isTextOverflow"></div>
          <fa-icon 
          class="arrow"
          [icon]="isArrow ? faArrowUp : faArrowD" 
          (click)="toggleTextOverflow(vid)"
          ></fa-icon>          
        </div>
        <button type="button" class="like-button" (click)="toggleLike()">
          <fa-icon style="display: flex;" [icon]="isLiked ? faSolidHeart : faRegularHeart"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>