<div class="container">
  <p class="p_text">Videótéka</p>
  <div class="d-flex justify-content-between">
    <button [routerLink]="'/user/videotar_elofizetett'" type="button" class="btn btn-primary m-4" [ngClass]="{'active-button' : isButtonActive === 'napi'}"
      (click)="toggleButtonState('napi')">Napi ajánlat</button>
    <button [routerLink]="'/user/kedvenc-videok'" type="button" class="btn btn-primary m-4" [ngClass]="{'active-button' : isButtonActive === 'kedvenc'}"
      (click)="toggleButtonState('kedvenc')">Kedvenc videóim</button>
  </div>
  <div>
    <p class="text-left">Válaszd ki, hol tartasz éppen:</p>
    <ul *ngFor="let cat of objCat; let i = index" [ngClass]="{'active-cat': isCategoryActive(cat)}" (click)="toggleCategory(cat, i)">
      <li>
        <span [class.active-icon]="i === activeCategoryIndex"><fa-icon class="icon" [icon]="faCirc"></fa-icon></span> {{ cat.catTitle }}
      </li>
    </ul>
    <div *ngIf="activeCategoryIndex >= 0" id="catImageContainer">
      <img class="img" [src]="objCat[activeCategoryIndex].photo_url" alt="{{ objCat[activeCategoryIndex].catTitle }}">
      <span id="catDescSpan" [innerHTML]="showSummary ? objCat[activeCategoryIndex].catSummary : objCat[activeCategoryIndex].catDesc"></span>
      <p class="read-more-button text-end" (click)="toggleCatDesc()">
        {{ showFullCatDesc ? 'Kevesebb' : 'Tovább' }}
      </p>
    </div>    
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary m-4" (click)="loadRecommendedVideos()">Kérem az ajánlott
      videókat</button>
  </div>
  <div class="lessons">
    <div class="lesson" *ngFor="let vid of objVid; let k = index">
      <div class="lesson-container">
        <div class="video-container">
          <div *ngIf="vid.video_url && !vid.y_video_url">
            <app-video-player style="padding-top: 15px;"
              [options]="{fluid: true, aspectRatio: '16:9', autoplay: false, poster: vid.thumbnail, sources: [{ src: vid.video_url, type: 'video/mp4', label: 'Basic' }, { src: vid.video_url_1080, type: 'video/mp4', label: '1080p' },{ src: vid.video_url_720, type: 'video/mp4', label: '720p' }, { src: vid.video_url_360, type: 'video/mp4', label: '360p' }]}">
            </app-video-player>
          </div>
          <div *ngIf="vid.y_video_url && !vid.video_url" class="youtube-video">
            <iframe [src]="vid.y_video_url" frameborder="0" class="iframe-size"></iframe>
          </div>
        </div>
        <div class="lesson-info">
          <h3>{{ vid.vidTitle }}</h3>
          <div [innerHTML]="vid.vidDesc" [class.truncated-text]="vid.isTextOverflow"></div>    
          <p class="read-more-button text-right" *ngIf="isTextOverflowing(vid.vidDesc)" (click)="toggleTextOverflow(vid)">{{ vid.isTextOverflow ? 'TOVÁBB' : 'KEVESEBB' }}</p>
        </div>       
        <button *ngIf="!isItFavorite" type="button" class="like-button" (click)="toggleLike()">
          <fa-icon style="display: flex;" [icon]="isLiked ? faSolidHeart : faRegularHeart"></fa-icon>
        </button>
        <button *ngIf="isItFavorite" type="button" class="like-button" (click)="toggleLike()">
          <fa-icon style="display: flex;" [icon]="isLiked ? faSolidHeart : faSolidHeart"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>