.text-center-drupal {
    color: black;
    font-size: medium;
    text-align: center;
}

.text-left-drupal {
    color: black;
    font-size: medium;
    text-align: left;
}

.text-right-drupal {
    color: black;
    font-size: medium;
    text-align: right;
}

.text-justified-drupal {
    text-align: justify;
    line-height: 107%;

}

.text-pink{
    color:#E6009F
}

.text-blue{
    color: #0A606F;
}

.text-italic{
    font-style: italic;
}

:host ::ng-deep .MsoWhite {
    color: white;
    text-align: center;
}

.text-con {
    font-size: 24px;
    color: #F54D9F;
    text-align: center;
}

.img {
    width: 100%;
    height: auto;
}

.img-left1 {
    width: 100%;
    height: auto;
    padding: 10px;

}

.text-container {
    height: auto;
}

.containerr {
    display: flex;
    align-items: flex-start;
    /* Ez beállítja a tartalmat a tartály tetejére igazításra */
}

.img-left2 {
    width: 100%;
    height: auto;
    padding: 10px;
}

.img-right {
    width: 100%;
    height: auto;
    padding: 10px;

}

.p-text {
    padding: 10px;
    text-align: center;
}

.background {
    background-color: #0A606F;
}

.p-10 {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100% !important;
    }
}