<div class="container" *ngFor="let name of categories; index as i">
    <div class="justify-content-center row divbgcolor">
        <div class="text-center"> {{ name.title }}</div>
        <div class="text-center" [innerHTML]="name.description"></div>
    </div>
    <div class="row justify-content-center mt-2 mb-2">
        <div class="col-lg-3" *ngFor="let rotation of name.rotation">
            <div class="justify-content-center row divbgcolor m-1">{{rotation.title}}</div>
            <div class="card mb-2" *ngFor="let video of rotation.videos">
                <div class="card-body">
                    <h5 class="card-title">{{video.title}}</h5>
                    <div class="position-absolute top-15 right-10">
                        <fa-icon [icon]="faTrash" style="color: red; cursor: pointer;"></fa-icon>
                    </div>
                    <iframe *ngIf="video.iframe; else elseBlock" class="p-3" width="200"
                        [src]="video.url | safe : 'resourceUrl'" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <ng-template #elseBlock>
                        <app-video-player style="padding-top: 15px;"
                            [options]="{fluid: true, aspectRatio: '16:9', autoplay: false, poster: video.thumbnail, sources: [{ src: video.url, type: 'video/mp4' , label: '1080p' },{ src: video.url, type: 'video/mp4' , label: '720p' }, { src: video.url, type: 'video/mp4' , label: '360p' }]}">
                        </app-video-player>
                    </ng-template>
                    <div [innerHTML]="video.description" class="card-text"></div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-sm w-100 mt-2 mb-2" data-toggle="modal"
                    data-target="#exampleModalCenter" (click)="openModal(name.id, rotation.id)">Feltöltés</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="showModal"></div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="uploadForm" (ngSubmit)="onUpload()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Feltöltéshez szükséges adatok</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                        (click)="closeModal()">
                    </button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="video">Videó feltöltése:</label>
                        <br>
                        <input (change)="onFileSelected($event)" type="file" id="video" name="video"
                            class="form-control" accept="video/mp4" formControlName="video">
                            <div *ngIf="uploadForm.get('video')?.errors?.['required'] && (uploadForm.get('video')?.touched || uploadForm.get('video')?.dirty)" class="error-message">
                                Videó feltöltése kötelező
                            </div>
                            <div class="error-message" *ngIf="videoFormatError">
                                {{ videoFormatError }}
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="thumbnail">Előnézeti kép feltöltése:</label>
                        <br>
                        <input type="file" (change)="onThumbnaiLSelected($event)" id="thumbnail" class="form-control" name="thumbnail"
                            accept="image/jpeg" formControlName="thumbnail">
                            <div *ngIf="uploadForm.get('thumbnail')?.errors?.['required'] && (uploadForm.get('thumbnail')?.touched || uploadForm.get('thumbnail')?.dirty)" class="error-message">
                                Előnézeti kép feltöltése kötelező
                            </div>
                            <div class="error-message" *ngIf="thumbnailFormatError">
                                {{ thumbnailFormatError }}
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="title">Videó címe:</label>
                        <br>
                        <input type="text" class="form-control form-control-sm" id="title" name="title"
                            formControlName="title">
                            <div *ngIf="uploadForm.get('title')?.errors?.['required'] && (uploadForm.get('title')?.dirty || uploadForm.get('title')?.touched)" class="error-message" >
                                Videó címe megadása kötelező
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Videó leírása:</label>
                        <br>
                        <textarea style="resize: none;" class="form-control" id="description"
                            formControlName="description"></textarea>
                            <div *ngIf="uploadForm.get('description')?.errors?.['required'] && (uploadForm.get('description')?.dirty || uploadForm.get('description')?.touched)" class="error-message">
                                Videó leírása megadása kötelező
                            </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="closeModal()">Bezárás</button>
                    <button type="submit" class="btn btn-primary">Feltöltés</button>
                </div>
            </form>
        </div>
    </div>
</div>