<div class="container">
    <div class="row">
        <div class="col-lg-12 py-3">
            <form [formGroup]="registerForm" class="col-sm-6" style="margin: 0 auto;">
            <p class="p-pos">Saját adatok módosítása</p>
            <div class="mb-3">
                    <label class="form-label">Email cím</label>
                    <input formControlName="email" type="email" class="form-control" [(ngModel)]="emailModel">
                    <div *ngIf="registerForm.get('email')?.errors?.['email'] && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                        class="error-message">
                        Adj meg érvényes email címet
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Hogyan szólítsunk</label>
                    <input formControlName="display_name" type="text" class="form-control" [(ngModel)]="display_nameModel">
                </div>
                <div class="mb-3">
                    <label class="form-label">Vezetéknév</label>
                    <input formControlName="last_name" type="text" class="form-control" [(ngModel)]="last_nameModel">
                </div>
                <div class="mb-3">
                    <label class="form-label">Keresztnév</label>
                    <input formControlName="first_name" type="text" class="form-control" [(ngModel)]="first_nameModel">
                </div>
                <div class="mb-3">
                    <label class="form-label">Születési dátum</label>
                    <input formControlName="birthdate" type="date" class="form-control" [(ngModel)]="birthdateModel">
                </div>
                <div class="mb-3">
                    <label class="form-label">Irányítószám</label>
                    <input formControlName="postcode" type="text" class="form-control" [(ngModel)]="postcodeModel">
                    <div *ngIf="registerForm.get('postcode')?.errors?.['pattern'] && (registerForm.get('postcode')?.dirty || registerForm.get('postcode')?.touched)"
                    class="error-message">
                    Adj meg érvényes irányitószámot (pl: 1111)!
                </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Város</label>
                    <input formControlName="city" type="text" class="form-control" [(ngModel)]="cityModel">
                </div>
                <div class="mb-3">
                    <label class="form-label">Utca</label>
                    <input formControlName="street" type="text" class="form-control" [(ngModel)]="streetModel">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ház szám</label>
                    <input formControlName="snumber" type="text" class="form-control" [(ngModel)]="snumberModel">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ország</label>
                    <input formControlName="country" type="text" class="form-control" [(ngModel)]="countryModel">
                </div>
                <div class="mb-3">
                    <label class="form-label">Jelszó megadása a változtatáshoz</label>
                    <input formControlName="password" type="password" class="form-control">
                    <div *ngIf="registerForm.get('password')?.errors?.['required'] && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
                        class="error-message">
                        Jelszó megadása kötelező
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary c" (click)="onSubmit()">Módosítás</button>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay" *ngIf="showModal"></div>
    <div class="modal fade modalc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
      id="exampleModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
              </button>
            </div>
            <div class="modal-body">
              <div>{{ modalContent }}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="closeModal()">Bezárás</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>