<div class="container">
    <div class="row">
        <div class="col-lg-12 py-3">
            <form [formGroup]="registerForm" class="col-sm-6" style="margin: 0 auto;">
            <div class="mb-3">
                    <label class="form-label">Email cím</label>
                    <input formControlName="email" type="email" class="form-control">
                    <div *ngIf="registerForm.get('email')?.errors?.['required'] && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                        class="error-message">
                        Email cím megadása kötelező
                    </div>
                    <div *ngIf="registerForm.get('email')?.errors?.['email'] && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                        class="error-message">
                        Adj meg érvényes email címet
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Felhasználó név</label>
                    <input formControlName="username" type="text" class="form-control">
                    <div *ngIf="registerForm.get('username')?.errors?.['required'] && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)"
                        class="error-message">
                        Felhasználó név megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Hogyan szólítsunk</label>
                    <input formControlName="display_name" type="text" class="form-control">
                    <div *ngIf="registerForm.get('display_name')?.errors?.['required'] && (registerForm.get('display_name')?.dirty || registerForm.get('display_name')?.touched)"
                        class="error-message">
                        Megjelenítő név megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Vezetéknév</label>
                    <input formControlName="last_name" type="text" class="form-control">
                    <div *ngIf="registerForm.get('last_name')?.errors?.['required'] && (registerForm.get('last_name')?.dirty || registerForm.get('last_name')?.touched)"
                        class="error-message">
                        Vezetéknév megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Keresztnév</label>
                    <input formControlName="first_name" type="text" class="form-control">
                    <div *ngIf="registerForm.get('first_name')?.errors?.['required'] && (registerForm.get('first_name')?.dirty || registerForm.get('first_name')?.touched)"
                        class="error-message">
                        Keresztnév megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Jelszó</label>
                    <input formControlName="password" type="password" class="form-control" required minlength="8"
                        (input)="onPasswordInput()" appSpecialCharacter="true">
                    <div *ngIf="registerForm.get('password')?.errors?.['required'] && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
                        class="error-message">
                        Jelszó megadása kötelező
                    </div>
                    <div *ngIf="registerForm.controls['password']?.errors?.['minlength']" class="error-message">
                        A jelszónak legalább 8 karakter hosszúnak kell lennie.
                    </div>
                    <div *ngIf="registerForm.controls['password']?.errors?.['specialCharacter']  && passwordInputStarted"
                        class="error-message">
                        A jelszónak tartalmaznia kell legalább egy speciális karaktert.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Jelszó megadása mégegyszer</label>
                    <input formControlName="passwordAccept" type="password" class="form-control">
                    <div *ngIf="registerForm.get('passwordAccept')?.errors?.['required'] && (registerForm.get('passwordAccept')?.dirty || registerForm.get('passwordAccept')?.touched)"
                        class="error-message">
                        Jelszó megadása mégegyszer kötelező
                    </div>
                    <div *ngIf="registerForm.hasError('passwordMismatch')" class="error-message">
                        Jelszók nem egyeznek meg.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Születési dátum</label>
                    <input formControlName="birthdate" type="date" class="form-control">
                    <div *ngIf="registerForm.get('birthdate')?.errors?.['required'] && (registerForm.get('birthdate')?.dirty || registerForm.get('birthdate')?.touched)"
                        class="error-message">
                        Születési dátum megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Irányítószám</label>
                    <input formControlName="postcode" type="number" class="form-control">
                    <div *ngIf="registerForm.get('postcode')?.errors?.['required'] && (registerForm.get('postcode')?.dirty || registerForm.get('postcode')?.touched)"
                        class="error-message">
                        Irányítószám megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Város</label>
                    <input formControlName="city" type="text" class="form-control">
                    <div *ngIf="registerForm.get('city')?.errors?.['required'] && (registerForm.get('city')?.dirty || registerForm.get('city')?.touched)"
                        class="error-message">
                        Város megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Utca</label>
                    <input formControlName="street" type="text" class="form-control">
                    <div *ngIf="registerForm.get('street')?.errors?.['required'] && (registerForm.get('street')?.dirty || registerForm.get('street')?.touched)"
                        class="error-message">
                        Utca megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ház szám</label>
                    <input formControlName="snumber" type="text" class="form-control">
                    <div *ngIf="registerForm.get('snumber')?.errors?.['required'] && (registerForm.get('snumber')?.dirty || registerForm.get('snumber')?.touched)"
                        class="error-message">
                        Ház szám megadása kötelező
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ország</label>
                    <input formControlName="country" type="text" class="form-control">
                    <div *ngIf="registerForm.get('country')?.errors?.['required'] && (registerForm.get('country')?.dirty || registerForm.get('country')?.touched)"
                        class="error-message">
                        Város megadása kötelező
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary c" (click)="onSubmit()">Regisztráció</button>
                </div>
            </form>
        </div>
    </div>
</div>