:host ::ng-deep .OutlineElement :hover {
    background-color: #cedfe2;
}

.course {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #0A606F;
}

.course h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.lesson {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;

}

.lesson h3 {
    font-size: 18px;
}

.course-title {
    cursor: pointer;
    font-weight: bold;
}

.course-desc {
    cursor: pointer;
}

.lesson-container {
    display: flex;
    align-items: flex-start;
}

.video-container {
    flex: 1;
    /* A videó terjedjen ki a rendelkezésre álló helyre */
    margin-right: 20px;
    /* Távolság a lecke címétől és leírásától */
}

.lesson-info {
    flex: 2;
    /* A lecke címe és leírása terjedjen ki a rendelkezésre álló helyre */
}

/* A cím és a leírás kisebb betűmérete */
.lesson-info h3 {
    font-weight: bold;
    font-size: 16px;
    /* Például 16px méretű betűk */
}

.lesson-info div {
    margin-top: 10px;
    font-size: 14px;
    line-height: normal;
    /* Például 14px méretű betűk a leírásnál */
}

.truncated-text {
    max-height: 118px;
    /* A videó magasságához igazítsd */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.read-more-button{
    color:#F54D9F;
    padding: 5px 10px;
    cursor: pointer;
    text-align: right;
  }

  .disabled-button {
    color: #808080;
    pointer-events: none;
  }
  