<div class="course">
  <h2 class="course-title" (click)="toggleLessons()">Kurzus 1</h2>
  <div class="lessons" *ngIf="showLessons">
    <div class="lesson" >
      <h3>Lecke 1</h3>
            <p>Lecke tartalma itt.</p>
    </div>
    <div class="lesson">
      <h3>Lecke 1</h3>
            <p>Lecke tartalma itt.</p>
    </div>
  </div>
</div>

<div class="course">
  <h2 class="course-title" (click)="toggleLessons()">Kurzus 2</h2>
  <div class="lessons" >
    <div class="lesson">
      <h3>Lecke 1</h3>
            <p>Lecke tartalma itt.</p>
    </div>
    <div class="lesson">
      <h3>Lecke 1</h3>
            <p>Lecke tartalma itt.</p>
    </div>
  </div>
</div>
