<div class="c_title">
  <p>{{ courseTitle }}</p>
</div>
<div class="container">
  <ng-container *ngFor="let blockt of block; let i = index">
    <div class="course mb-3 position-relative" *ngIf="blockt.tema_title || blockt.tema_description">
      <fa-icon (click)="toggleLesson(i)"  [icon]="lessonStates[i] ? upArrow : downArrow" class="down-arrow"></fa-icon>
      <p class="course-title" (click)="toggleLesson(i)" *ngIf="blockt.tema_title">{{ blockt.tema_title }}</p>
      <div class="container" *ngIf="blockt.tema_description">
        <p class="course-desc" (click)="toggleLesson(i)" [innerHTML]="blockt.tema_description"></p>
      </div>
      <div class="lessons" [@expandCollapse]="lessonStates[i] ? 'expanded' : 'collapsed'">
        <div class="lesson" *ngFor="let lesson of blockt.lessons; let k = index">
          <div class="lesson-container">
            <div class="video-container">
              <div *ngIf="lesson.video_url && !lesson.y_video_url">
                <app-video-player [ngClass]="{'disabled-button': !visible}" style="padding-top: 15px;"
                  [options]="{fluid: true, aspectRatio: '16:9', autoplay: false, poster: lesson.thumbnail, sources: [{ src: lesson.video_url, type: 'video/mp4', label: 'Basic' }, { src: lesson.video_url_1080, type: 'video/mp4', label: '1080p' },{ src: lesson.video_url_720, type: 'video/mp4', label: '720p' }, { src: lesson.video_url_360, type: 'video/mp4', label: '360p' }]}">
                </app-video-player>
              </div>
              <div *ngIf="lesson.y_video_url && !lesson.video_url" class="youtube-video">
                <iframe [src]="lesson.y_video_url | kurzussafe : 'resourceUrl'" frameborder="0"
                  class="iframe-size"></iframe>
              </div>
            </div>
            <div class="lesson-info" #lessonInfo (click)="onLessonInfoClick($event)">
              <h3 [style.color]="getLessonColor(lesson.completed)">{{ lesson.lessons_title }}</h3>
              <div [ngClass]="{'disabled-button': !visible}" [innerHTML]="lesson.lessons_desc" [class.truncated-text]="lesson.isTextOverflow"></div>            
              <p class="read-more-button text-right" *ngIf="isTextOverflowing(lesson)" (click)="toggleTextOverflow(lesson)">{{ lesson.isTextOverflow ? 'TOVÁBB' : 'KEVESEBB' }}</p>
            </div>                                  
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
