<div class="container">
    <div class="row">
        <div class="col-lg-12 py-3">
            <form [formGroup]="resetpw" class="col-sm-6" style="margin: 0 auto;">
                <div class="mb-3">
                  <label class="form-label">Email cím</label>
                  <input formControlName="email" type="email" class="form-control">
                  <div *ngIf="this.resetpw.get('email')?.errors?.['required'] && (this.resetpw.get('email')?.dirty || this.resetpw.get('email')?.touched)" 
                  class="error-message">
                    Email cím megadása kötelező
                  </div>
                  <div *ngIf="this.resetpw.get('email')?.errors?.['email'] && (this.resetpw.get('email')?.dirty || this.resetpw.get('email')?.touched)" 
                  class="error-message">
                    Hibás email formátum
                  </div>
                </div>
                <button type="button" class="btn btn-primary c" (click)="resetPw()">Jelszó emlékeztető küldése</button>
              </form>
        </div>
    </div>
</div>